@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container {
    width: 400px;
    height: 367px;
    background-color: #242530;
    padding: 25px;
}

.buttons-container {
    display: flex;
}

input[type='text'] {
    width: 350px;
    height: 70px;
    border-radius: 20px;
    background-color: #3A3F77;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    text-align: right;
    padding: 20px;
}

.digits-container {
    display: grid;
    grid-template-columns: 65px 65px 65px;
    gap: 11px;
    margin-top: 22px;
}

.digits-container input[type='button'] {
    background-color: #404258;
    padding: 8px 25px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    color: white;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 24px;
}


.digits-container input[type='button']:hover {
    background-color: gray;
}

.digits-container input[type='button']:active {
    background-color: rgba(0,0,0,0.1);
}
.delete-btn {
    background-color: #404258;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
    border-radius: 25px;
    outline: none;
    border: none;
    transition: .2s;
}

.delete-btn:hover {
    background-color: gray;
}

.delete-btn:active {
    background-color: rgba(0,0,0,0.1);
}

.operators-container {
    display: grid;
    grid-template-columns: 45px 45px;
    gap: 11px;
    margin-top: 22px;
    margin-left: 12px;
}

.operators-container input[type='button'] {
    background-color: #F49D1A;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    color: white;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 24px;
    transition: .2s;
}

.operators-container input[type='button']:hover {
    background-color: orange;
}

.operators-container input[type='button']:active {
    background-color: orangered;
}

.calculate {
    grid-column: span 2;
    background-color: #B2B2B2;
    font-size: 20px;
    border-radius: 100px;
    color: black;
    outline: none;
    border: none;
    transition: .2s;
}

.calculate:active {
    background-color: #888888;
}

.calculate:hover {
    background-color: #D2D2D2;
}